# Ignore Rust compiler output
/target

# Ignore Cargo lockfile so CI will always run on latest dependencies
Cargo.lock

# Igore Visual Studio dir
.vs

# Ignore Vulkan shader cache
shader_cache.bin

# Ignore .pfx certificates (private key)
*.pfx

# Ignore .appx and .msix packages (build artifact)
*.appx
*.msix
