[submodule "submodules/D3D12MemoryAllocator"]
	path = submodules/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "submodules/Vulkan-Headers"]
	path = submodules/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "submodules/VulkanMemoryAllocator"]
	path = submodules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "submodules/SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/WinPixEventRuntime"]
	path = submodules/WinPixEventRuntime
	url = https://gitea.hmmr-cloud.com.au/MindSpunk/WinPixEventRuntime.git
[submodule "submodules/DirectX12AgilitySDK"]
	path = submodules/DirectX12AgilitySDK
	url = https://gitea.hmmr-cloud.com.au/MindSpunk/DirectX12AgilitySDK.git
