# Ignore Rust compiler output
/target

# Ignore Cargo lockfile so CI will always run on latest dependencies
Cargo.lock

# Igore Visual Studio dir
.vs

# Ignore Vulkan shader cache
shader_cache.bin

# Ignore all shaderdb files as they're just binary blobs
*.shaderdb
